utils/__pycache__/*.*.pyc
datasets/__pycache__/*.*.pyc
loss/__pycache__/*.*.pyc
processor/__pycache__/*.*.pyc
models/__pycache__/simple_model.cpython-38.pyc
datasets/transforms/__pycache__/*.*.pyc
config/__pycache__/*.*.pyc
models/__pycache__/resnet_orig.cpython-38.pyc
config/__pycache__/*.pyc

weights/first_model.pth
20epochs.png
30epochs.png
config/__pycache__/defaults.cpython-38.pyc
weights/epoch20_model.pth
weights/epoch30_model.pth
config/__pycache__/defaults.cpython-38.pyc
weights/epoch50_model.pth
weights/epoch80_model.pth
weights/epoch100_model.pth
solver/__pycache__/__init__.cpython-38.pyc
solver/__pycache__/cosine_lr.cpython-38.pyc
solver/__pycache__/make_scheduler.cpython-38.pyc
solver/__pycache__/scheduler.cpython-38.pyc
weights/epoch100_dukemtmc.pth
config/__pycache__/defaults.cpython-38.pyc
out_market_cnn/tensorboard/*
out_dukemtmc_cnn/tensorboard/git_diff.txt
out_dukemtmc_cnn/tensorboard/git_log.txt
out_market_cnn/RN50_resume_5.pth
out_market_cnn/RN50_resume_10.pth
out_market_cnn/RN50_resume_15.pth
out_market_cnn/train_log_11_15_loss_grow.txt
out_market_cnn/train_log_from_begining_increase.txt
out_market_cnn/train_log.txt
out_market_cnn/tensorboard/git_diff.txt
out_market_cnn/tensorboard/git_log.txt
out_dukemtmc_cnn/tensorboard/events.out.tfevents.1711649853.DESKTOP-G80VL8D.11632.0
out_dukemtmc_cnn/tensorboard/events.out.tfevents.1711649902.DESKTOP-G80VL8D.9068.0
out_market_cnn/RN50_resume_75.pth
out_market_cnn/RN50_resume_80.pth
out_market_cnn/RN50_resume_85.pth
out_market_cnn/RN50_resume_90.pth
out_market_cnn/RN50_resume_95.pth
out_market_cnn/RN50_resume_100.pth
out_market_cnn/RN50_resume_105.pth
out_market_cnn/train_log_continue_to_35.txt
out_market_cnn/train_log_continue_to_40.txt
out_market_cnn/train_log_until_105.txt
out_market_cnn/train_log_up_to_60.txt
out_market_cnn/train_log._no_sched_30.txt
out_market_cnn/tensorboard/events.out.tfevents.1711746942.DESKTOP-G80VL8D.16900.0
out_market_cnn/tensorboard/events.out.tfevents.1711807848.DESKTOP-G80VL8D.17292.0
out_market_cnn/tensorboard/events.out.tfevents.1711811264.DESKTOP-G80VL8D.10776.0
out_market_cnn/tensorboard/events.out.tfevents.1711819328.DESKTOP-G80VL8D.14512.0
Export/model.onnx
config/__pycache__/defaults.cpython-38.pyc
out_dukemtmc_cnn/train_log.txt
out_market_cnn_resnet/train_log.txt
